anyio
appnope
argon2-cffi
argon2-cffi-bindings
attrs
Babel
backcall
beautifulsoup4
bleach
Bottleneck
brotlipy
certifi
cffi
charset-normalizer
cryptography
debugpy
decorator
defusedxml
entrypoints
fastjsonschema
flit_core
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jupyter
jupyter_client
jupyter-console
jupyter_core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupyterlab-widgets
lxml
MarkupSafe
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pip
pkgutil_resolve_name
ply
prometheus-client
prompt-toolkit
psutil
ptyprocess
pycodestyle
pycparser
Pygments
pyOpenSSL
PyQt5-sip
pyrsistent
PySocks
python-dateutil
pytz
pyzmq
qtconsole
QtPy
requests
Send2Trash
setuptools
sip
six
sniffio
soupsieve
terminado
tinycss2
toml
tomli
tornado
traitlets
typing_extensions
urllib3
wcwidth
webencodings
websocket-client
wheel
widgetsnbextension
zipp

